.transparent-header, .transparent-header .main-menu, .transparent-header .main-menu ul {
    background: transparent;
}

.transparent-header .ant-menu-horizontal > .ant-menu-item > a, .transparent-header .ant-menu-submenu-title {
    color: white;
}
ul.ant-menu-horizontal {
    border-bottom: initial;
}

/** Menu **/

.transparent-header .main-menu .ant-menu-horizontal > .ant-menu-item:hover, .transparent-header .main-menu .ant-menu-horizontal > .ant-menu-submenu:hover {
    color: white;
}

.transparent-header .main-menu.ant-menu-horizontal > .ant-menu-item > a:hover, .transparent-header .main-menu.ant-menu-submenu-title:hover {
    color: white;
}
.main-menu.ant-menu-horizontal > .ant-menu-item > a:hover, .main-menu.ant-menu-submenu-title:hover {
    color: black;
}
.main-menu.ant-menu-horizontal > .ant-menu-item:hover {

    border-bottom: 2px solid #eaca7d;
}

ul.main-menu.ant-menu-horizontal > li.ant-menu-submenu.ant-menu-submenu-horizontal:hover {
    color: black;
    border-bottom: 2px solid #eaca7d;
}

.transparent-header .main-menu .ant-menu-submenu-title:hover {
    color: white;
}

.main-menu .ant-menu-submenu-title:hover {
    color: black;
}

.main-menu-submenu .ant-menu-item > a:hover {
    color: black;
}

.main-menu a, .main-menu .ant-menu-submenu-title {
    text-transform: uppercase;
}

.full-height-image-slide {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.full-height-image {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}